.AddAnnounceBackground {
  background-image: url("../images/background2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  margin: 0;
  padding: 0;
}

.AddAnnounce {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--primary-font);
}

.FormAnnounce {
  background-color: var(--primary-color);
  margin-top: 7%;
  border-radius: 4px;
  color: var(--secondary-color);
  padding: 2rem;
  height: 40rem;
  width: 86%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.thetitle {
  color: var(--third-color);
  font-size: 3.2rem;
  font-weight: 400;
  margin-top: 1rem;
}

.thetitle > span {
  color: white;
  font-size: 3.2rem;
  font-weight: 400;
}

.createannounce {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.FormAnnounces {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.announcefinished {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
  font-weight: 400;
}

.validerlannonce {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  background-color: var(--third-color);
  color: var(--primary-color);
  margin: 1rem;
  border-radius: 5px;
  font-weight: 500;
}

.FormAnnounces > input {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

@media (min-width: 992px) {
  .AddAnnounceBackground {
    background-position: top;
    height: 100vh;
    overflow: hidden;
  }

  .AddAnnounce {
    margin-top: 1%;
  }

  .FormAnnounce {
    width: 50rem;
    height: auto;
    margin-top: 1%;
    padding: 2rem;
  }

  .thetitle {
    font-size: 5rem;
    margin-top: 0;
  }

  .thetitle > span {
    font-size: 5rem;
  }

  .createannounce {
    font-size: 2.2rem;
  }

  .FormAnnounces {
    gap: 0.5rem;
    font-size: 1.2rem;
  }

  .announcefinished {
    justify-content: center;
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
  }

  .validerlannonce {
    font-size: 1.8rem;
    width: 50%;
    margin-left: 11.5rem;
  }

  .FormAnnounces > input,
  .FormAnnounces > textarea {
    font-size: 0.8rem;
  }
}
