.fullannounce {
  background-image: url("../images/firstbackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  font-family: var(--primary-font);
}
.thetitle {
  color: var(--third-color);
  font-size: 3.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 0;
}
.thetitle > span {
  color: white;
  font-size: 3.2rem;
  font-weight: 400;
}
.findajob {
  color: var(--secondary-color);
  font-weight: 400;
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-left: 2%;
  line-height: 1;
}
.pepetes {
  line-height: 1;
}
.lottie-animation {
  width: 220px;
  height: 220px;
  margin: auto;
  display: block;
}
.cardannounce-container {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  gap: 20px;
  scroll-behavior: smooth;
}
.cardannounce2 {
  width: 300px;
  height: 390px;
  background-color: var(--first-grey);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(211, 220, 126);
}
.cardannounce-container::-webkit-scrollbar {
  height: 10px;
}
.cardannounce-container::-webkit-scrollbar-thumb {
  background-color: var(--third-color);
  border-radius: 5px;
}
.titleannounce {
  color: var(--third-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  font-family: var(--primary-font);
}
.imageband {
  max-height: 10rem;
  max-width: 10rem;
  display: flex;
}
.sloganlogo {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

@media (min-width: 992px) {
  .fullannounce {
    background-position: top;
    height: 100vh;
    overflow: hidden;
  }

  .thetitle {
    font-size: 5rem;
    margin-top: 0;
  }

  .thetitle > span {
    font-size: 5rem;
  }

  .findajob {
    font-size: 5rem;
  }

  .lottie-animation {
    width: 200px;
    height: 200px;
    margin-right: 20rem;
  }
  .sloganlogo {
    padding-bottom: 4rem;
  }
}
