.homepagetotal {
  background-image: url("../images/firstbackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: var(--primary-font);
}
.thetitle {
  color: var(--third-color);
  font-size: 3.2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 0;
}

.thetitle > span {
  color: white;
  font-size: 3.2rem;
  font-weight: 400;
}

.saveurshow {
  color: var(--secondary-color);
  font-weight: 400;
  margin-top: 2rem;
  font-size: 2.5rem;
  margin-right: 5rem;
  margin-left: 2%;
}

.findurhero {
  font-size: 3.5rem;
  color: var(--secondary-color);
  margin-top: -1.5rem;
  font-weight: 400;
  margin-left: 2%;
}

.mastercard {
  margin: 6% 8%;
}

.rockbox {
  background-image: url("../images/fullfullcard.png");
  background-size: cover;
  background-position-x: 100%;
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menualone {
  display: flex;
  justify-content: flex-end;
  margin: 6%;
  color: var(--secondary-color);
  font-size: 1.8rem;
}

.doublep {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1rem;
  margin-right: 2%;
}

.mulhouse {
  margin-right: 24%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 300px;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li {
  margin: 1rem 0;
}

.modal-content a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: black;
  font-family: var(--primary-font);
}

.close-btn {
  margin-top: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .saveurshow {
    font-size: 5rem;
    line-height: 3rem;
  }

  .findurhero {
    font-size: 6rem;
  }

  .thetitle {
    font-size: 5rem;
  }

  .thetitle > span {
    font-size: 5rem;
  }

  .mastercard {
    width: 30rem;
    margin: 0% 38%;
  }

  .rockbox {
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    height: 30rem;
  }
}
